<h4>Choose a department:</h4>
<mat-form-field appearance="fill">
  <mat-label>Department</mat-label>
  <mat-select>
    <mat-option *ngFor="let d of departments" [value]="d.value">
      {{d.viewValue}}
    </mat-option>
  </mat-select>
</mat-form-field>
<!-- 
<h4>Basic native select</h4>
<mat-form-field appearance="fill">
  <mat-label>Cars</mat-label>
  <select matNativeControl required>
    <option value="volvo">Volvo</option>
    <option value="saab">Saab</option>
    <option value="mercedes">Mercedes</option>
    <option value="audi">Audi</option>
  </select>
</mat-form-field> -->
